__pycache__
ignored

build/
dist/
*.egg-info/

.vscode/
.idea/
.DS_Store

config.json
config.json.local
./resource

.venv/
venv/
tmp/

notes.md

scripts/videos/*
!scripts/videos/.gitkeep
scripts/captions.srt
capcut_drafts
proxyman_dumps